:root {
    font-family: sans-serif, Arial, 'Times New Roman';
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.title {
    text-align: center;
}

.body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.task-label,
.task-value {
    display: inline;
}