:root {
    font-family: sans-serif, Arial, 'Times New Roman';
    --editable-background-color: #f1f5f9;
    --page-header-size: 35px;
    --section-header-size: 30px;
    --content-font-size: 20px;
    --project-task-size: 25px;
    --content-padding: 25px;
    --add-task-project-button-font-size: 20px;
    --task-container-border-radius: 10px;
    --dialog-button-width: 100px;
    --dialog-button-height: 40px;
    --dialog-border-radius: 5px;
    --dialog-font-size: 16px;
    --dialog-input-box-height: 30px;
    --dialog-description-box-height: calc(var(--dialog-input-box-height) * 4);
    --dialog-close-button-width: 40px;
    --dialog-box-padding: 20px;
    /* Colors */
    --main-theme-color: #8b5cf6;
    --secondary-theme-color: #ede9fe;
    --add-button-color: #8b5cf6;
    --add-button-font-color: white;
    --detail-button-color: ;
    --confirm-button-color: #dcfce7;
    --cancel-button-color: #fecaca;
    --delete-button-color: #ef4444;
    /* --detail-button */
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/**** All Sections ****/

html,
body,
.content {
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

body {
    margin: 0px;
    height: 100%;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}

.required {
    color: red;
}

.editable {
    background-color: var(--editable-background-color);
    border: 1px solid black;
}

.clickable:hover
, button:hover {
    cursor: pointer;
}

/************************/




/**** Header ****/



.header {
    grid-column: 1 / 3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    background-color: var(--main-theme-color);
}

.title {
    text-align: center;
    font-size: var(--page-header-size);
    margin: 0px;
    color: white;
}

/************************/




/**** Body ****/

/* Body Container */

.body {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 0px;

}

/**/

/* Menu */

.menu {
    padding: var(--content-padding);
    background-color: var(--secondary-theme-color);
    box-shadow: 4px 0 2px -2px rgba(0, 0, 0, 0.2);
}

.menu-sub-container,
.project-show-dialog {
    margin-left: 20px;
}

.menu li:hover,
.menu li:focus {
    cursor: pointer;
}

.menu-header {
    font-size: var(--section-header-size);
    font-weight: bold;
    margin: 0px;
    margin-bottom: 20px;
}

.currently-selected-menu-item {
    background-color: rgba(0, 0, 0, 0.2);
    
}

.project-list-container {
    margin-bottom: 15px;
}

.project-list-menu {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
}

.menu-sub-header{
    font-size: var(--project-task-size);
    border-radius: 5px;
    padding: 5px;
}

.project-show-dialog {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: var(--add-task-project-button-font-size);
    background-color:  var(--add-button-color);
    color: var(--add-button-font-color);
}

/**/


/* Tasklist */

.project-action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.project-action-buttons *:hover {
    cursor: pointer;
}

.task-show-dialog {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: var(--add-task-project-button-font-size);
    background-color:  var(--add-button-color);
    color: var(--add-button-font-color);
}

.project-settings {
    width: 50px;
}

.task-list-body-title {
    font-size: var(--section-header-size);
    text-decoration: underline;
    margin: 30px 0px;
}

.task-label,
.task-value {
    display: inline;
}

.project-tasks {
    grid-column: 2 / 3;
    padding: var(--content-padding);
}

.task-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.task-container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
    padding: 0px 20px;
    border-bottom: #d1d5db solid 1px;
    font-size: var(--content-font-size);
}

.task-status-checkbox {
    width: 20px;
    height: 20px;
    border-radius: var(--task-container-border-radius);
}

.task-properties {
    display: grid;
    grid-template-columns: 250px 150px 75px;
    gap: 50px;
}

.task-due-date {
    /* margin-left: 100px; */
}

.task-actions-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.task-details,
.delete-task-front-end {
    height: 40px;
    width: 60px;
    border-radius: var(--task-container-border-radius);
}

.task-details {
    background-color: var(--secondary-theme-color);
}

.delete-task-front-end {
    background-color: var(--delete-button-color);
    color: white;
}

[priority-level='low'] {
    color: #fde047;
}

[priority-level='medium'] {
    color: #fb923c;
}

[priority-level='high'] {
    color: #dc2626;
}


/**/

/************************/




/**** Dialog Box ****/

/* Add Project */

#add-project-dialog {
    width: 480px;
    height: 280px;
    padding: var(--dialog-box-padding);
    border-radius: var(--dialog-border-radius);
}

.add-project-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    justify-items: center;
}

.add-project-dialog-header {
    font-size: var(--section-header-size);
}

.add-project-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.project-title-input-container {
    font-size: var(--dialog-font-size);
    display: flex;
    align-items: center;
    gap: 15px;
}

input#project-title-input {
    width: 300px;
    height: var(--dialog-input-box-height);
    font-size: var(--dialog-font-size);
}

/* Applies for 'add project and 'add task' dialog */
.close-dialog {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.project-confirm,
.project-cancel {
    width: var(--dialog-button-width);
    height: var(--dialog-button-height);
    font-size: var(--dialog-font-size);
    border-radius: 5px;
}

.project-confirm {
    background-color: var(--confirm-button-color);
}

.project-cancel {
    background-color: var(--cancel-button-color);
}

/**/

/* Add Task */

#add-task-dialog {
    width: 500px;
    height: 500px;
    padding: var(--dialog-box-padding);
    border-radius: var(--dialog-border-radius);
}

.add-task-dialog-container {
    display: grid;
    grid-template-rows: 60px 1fr;
    justify-items: center;
    height: 100%;
}

.add-task-dialog-header {
    font-size: var(--section-header-size);
}

.add-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-task-inputs {
    display: grid;
    grid-template-columns: 110px 1fr;
    row-gap: 20px;
    font-size: var(--dialog-font-size);
    align-items: center;
}

.add-task-input-box {
    width: 300px;
    height: var(--dialog-input-box-height);
    font-size: var(--dialog-font-size);
}

#task-description-input {
    height: var(--dialog-description-box-height);
}


.close-dialog button {
    width: var(--dialog-button-width);
    height: var(--dialog-button-height);
    font-size: var(--dialog-font-size);
    border-radius: 5px;
}

.task-confirm {
    background-color: var(--confirm-button-color);
}

.task-cancel {
    background-color: var(--cancel-button-color);
}

/**/

/* Task Details */

#display-task-detail {
    width: 500px;
    max-height: 80vh;
    padding: var(--dialog-box-padding);
    border-radius: var(--dialog-border-radius);
    position: relative;
}

.display-task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
    font-size: var(--dialog-font-size);
}

.display-task-form p {
    margin: 0px;
    padding: 2px;
}

.task-detail-property {
    display: grid;
    grid-template-columns: 110px 1fr;
    border-bottom: 1px black solid;
}

.task-detail-priority-input,
.task-detail-due-date-input,
.task-detail-status-input {
    font-size: var(--dialog-font-size);
}

.task-detail-actions {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.task-detail-actions button {
    width: var(--dialog-button-width);
    height: var(--dialog-button-height);
    /* height: 300px; */
    font-size: var(--dialog-font-size);
    border-radius: 5px;
    margin-top: 10px;
}

.edit-task-detail {
    background-color: var(--main-theme-color);
    color: white;
}

.delete-task {
    background-color: var(--delete-button-color);
    color: white;
}

.confirm-edit {
    background-color: var(--confirm-button-color);
}

.cancel-edit {
    background-color: var(--cancel-button-color);
}

/* Applies to project settings too */
.close-button {
    width: var(--dialog-close-button-width);
    position: absolute;
    top: 2px;
    right: 2px;
}

/**/

/* Project Settings */

#project-settings {
    width: 380px;
    min-height: 220px;
    padding: var(--dialog-box-padding);
    border-radius: var(--dialog-border-radius);    
    position: relative;
}

.project-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project-settings-title {
    margin: 20px 0;
    font-size: var(--section-header-size);
}

.project-settings-actions {
    display: flex;
    gap: 20px;
}

.edit-project-name,
.delete-project {
    width: var(--dialog-button-width);
    height: var(--dialog-button-height);
    font-size: var(--dialog-font-size);
    border-radius: 5px;
    color: white;
}

.edit-project-name {
    background-color: var(--main-theme-color);
}

.delete-project {
    background-color: var(--delete-button-color);
}

/**/

/* Project Settings - Edit Name */

.edit-project-name-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.edit-project-buttons {
    display: flex;
    gap: 20px;
}

.confirm-new-project-name,
.cancel-new-project-name {
    width: var(--dialog-button-width);
    height: var(--dialog-button-height);
    font-size: var(--dialog-font-size);
    border-radius: 5px;
}

.confirm-new-project-name {
    background-color: var(--confirm-button-color);
}

.cancel-new-project-name {
    background-color: var(--cancel-button-color);
}

.project-name-edit-input,
#new-project-name {
    font-size: var(--dialog-font-size);
}

#new-project-name {
    height: var(--dialog-description-box-height);
    height: var(--dialog-input-box-height);
}

/**/

/************************/